body { 
	padding:0px;
	margin:0px;
	text-align:center;
	font-family: "lucida grande", verdana, tahoma, arial; 
}

a {
	text-decoration:none;
}

.hidden {
	display:none;
}

.clearer {
	clear:both;
	height:1px;
	font-size:1px;
}

/* loading */
#loading  {
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#333333;
	z-index:2;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;

}
#loading  .wait{
	border:1px solid #EEEEEE;
	width:200px;
	margin:auto;
	padding:4px;
	font-size:12px;
	background:url('ajax-loader.gif') #FFFFFF no-repeat 10px center;
}

/*
#footer { 
	position:absolute;
	bottom:10px;
	font-size:12px;
	height:20px;
	line-height:20px;
	border:1px solid #999999;
	background-color:#EEEEEE;
	left:0px;
	margin-left:4px;
	margin-right:4px;
	width:99%;
}
*/
#footer { 
	margin-bottom:10px;
	margin-top:20px;
	font-size:12px;
	height:20px;
	line-height:20px;
	border:1px solid #999999;
	background-color:#EEEEEE;
	margin-left:4px;
	margin-right:4px;
}

#title { 
	/*border:1px solid green;*/
}


.main-container {
	text-align:left;
	margin-top:0px;
	padding-top:4px;
	padding-left:12px;
	padding-right:12px;
	margin:0px;
}

#title h1 {
	display:block;
	margin:0px;
	padding:2xpx;
	background:url('padoclient.gif') #003DF5 no-repeat 10px center;
	text-align:left;
	padding-left:50px;
	height:36px;
	line-height:36px;
	font-size:20px;
	margin-bottom:1px;
}

#title h1 a {
	color:#FFFFFF;
}

#title p {
	margin:0px;
	padding:0px;
	line-height:24px;
	height:24px;
	font-size:16px;
	color:#F5B800;
	background-color:#F5B800;
}

#main-menu ul, #main-menu li {
	display:block;
	list-style-type:none;
	height:24px;
	line-height:24px;
	margin:0px;
	padding:0px;
}

#main-menu ul{
	background-color:#FFFFFF;
	position:absolute;
	top:37px;
	left:0px;
}

#main-menu li {
	float:left;
}

#main-menu li a {
	width:100px;
	color:#FFFFFF;
	display:block;
	height:24px;
	line-height:24px;
	background-color:#F5B800;
	padding-left:12px;
	padding-right:12px;
	font-size:14px;
}

#configure-item {
	margin-right:1px;
}

#main-menu li a:hover {
	background-color:#B88A00;
}

#main-menu li a.selected {
	background-color:#B88A00;
}

.form-title   { 
	background:url("background-title.gif") repeat-x bottom;
}

.form-title .icon  { 
	background:url("default-title-icon.gif") no-repeat 2px 0px;
	/*background-color:#003DF5;*/
	border-top:1px solid #FFFFFF;
	/*border-bottom:4px solid #003DF5;*/
	padding-bottom:4px;
	height:30px;
	display:block; 
}
.form-title .text { 
	margin-top:14px;
	margin-left:38px;
	font-size:16px;
	font-weight:bold;
	background:none;
	color:#FFFFFF;
	line-height:16px;
	height:16px;
	display:block; 
}
legend.form-title { display:none; }
fieldset { text-align:left;border:0;margin:0px;padding:0px; }
form { 
	border-bottom:1px solid #999999;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
	padding:4px; 
	margin:0px;
}
.widget  { text-align:left; }
.widget .label { display:block;font-size:12px;font-weight:bold; }
.widget .description-mini { display:block;font-size:11px;color:#666666; }
.widget .input { display:block; }
.widget select { font-size:11px; }
.widget .input  .description-mini { display:inline;font-size:11px;color:#666666; }
.buttons { margin-top:8px;padding:4px;border:1px solid #B88A00;background-color:#F5B800; }
.widget input, .widget img { vertical-align:middle; }

.box-left {
	float:left;
	width:240px;
}

.box-right {
	float:left;
	/*border:1px solid green;*/
}

.working-area  {
	margin-top:13px;
	margin-left:4px;
}

.working-area .content {
	border-bottom:1px solid #999999;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
	width:450px;
}


.working-area h3 {
	color:#FFFFFF;
	background-color:#003DF5;
	margin:0px;
	font-size:16px;
	line-height:20px;
	height:20px;
	padding-left:4px;
	width:448px;
}

div.shadow {
	float:left;
	background: url(dropshadow.gif) no-repeat bottom right;
	margin: 10px 10px 10px 10px;
}
div.shadow img {
	position: relative;
	display: block;
	margin: -3px 6px 6px -3px;
}


/* module configs */
#configuration {
	width:400px;
}
#configuration  .form-title .icon  { 
	background:url("configuration-title-icon.gif") no-repeat 2px 0px;
}

/* module configs */
#scanner .box-left{
	width:240px;
}
#scanner #model {
	width:230px;
}
#scanner  .form-title .icon  { 
	background:url("scanner-title-icon.gif") no-repeat 2px 0px;
}

#scanner .palette i {
	font-size:12px;
}

#scanner .working-area {
	width:450px;
}

#scanner  #page-preview {
	float:left;
	width:330px;
	height:330px;
	background-color:#DDDDDD;
}

#page-preview .landscape {
	margin:auto;
	width:310px;
	text-align:center;
	margin-top:50px;
}

#page-preview .portrait {
	margin:auto;
	width:220px;
	text-align:center;
}

#scanner  #document-thumbnails {
	float:left;
	width:119px;
	height:330px;
	border-left:1px solid #B88A00;
	background-color:#F5B800;
	text-align:center;
	overflow:auto;
}

#scanner  ol, #scanner  ul, #scanner  li {
	margin:0px;
	padding:0px;
	display:block;
	list-style-type:none;
}
#scanner  #document-thumbnails  .thumbox{
	width:100px;
	margin:auto;
}

#scanner  #document-thumbnails  .thumbox i {
	display:block;
}

#scanner  #document-thumbnails  img{
	text-align:center;
	margin-bottom:2px;
}

#scanner  #document-thumbnails  .selected img {
	border:2px solid #003DF5;
}

#scanner .thumb i {
	font-size:9px;
	margin-bottom:4px;
	color:#000000;
}

#scanner .thumb {
	border:0px;
	font-size:11px;
}

#scanner .thumb img {
	margin-top:4px;
	border:1px solid #B88A00;
}

#document-download .formats {
	padding:4px;
}

#document-download .formats a {
	font-size:12px;
	display:block;
}

#document-download .formats i {
	font-size:12px;
	display:block;
}

#document-download li{
	display:block;
	height:34px;
	padding:1px;
	padding-left:38px;
}

#document-download li.tiff{
	background:url("scanner-download-tiff.png") no-repeat 2px 0px;
}



