﻿	<div id="main-menu">
		<ul>
			<li><a id="configure-item" href="../Configure/index.html">Configure</a></li>
			<li><a id="scanner-item" class="selected" href="../Scanner/index.html">Scanner</a></li>
		</ul>
	</div>
	
	<div id="scanner"  class="main-container">
		<div class="box-left">
			<fieldset>
				<legend class="form-title">Digital acquisition</legend>
				<div class="form-title">
					<span class="icon"><span class="text">Digital acquisition</span></span>
				</div>
				<form action="scan.do" id="formScanner" name="formScanner" method="GET" >
					<div class="widget">
						<span class="label"><label for="model">Installed scanners</label></span>
						<span class="input">
							<select id="model" name="model">
							</select>
						</span>
						<i class="description-mini">List avaibles TWAIN scanners</i>
					</div>
					<div class="widget">
						<span class="label"><label for="dpi">Image resolution</label></span>
						<span class="input">
							<select id="dpi" name="dpi">
							</select>
							<span>dpi</span>
						</span>
						<i class="description-mini">Scan image with this resolution</i>
					</div>
					<div class="widget">
						<span class="label"><label for="page-format">Page format</label></span>
						<span class="input">
							<select id="page-format" name="page-format">
							</select>
						</span>
						<i class="description-mini">Page format</i>
					</div>
					<div class="widget">
						<span class="label"><label for="page-orientation">Page orientation</label></span>
						<span class="input">
							<select id="page-orientation" name="page-orientation">
							</select>
						</span>
						<i class="description-mini">Landscape or Portrait</i>
					</div>
					<div class="widget">
						<span class="label"><label for="colorset">Palette</label></span>
						<span class="input">
							<br class="hidden" />
							<span class="palette">
								<input type="radio" id="colorset-color" name="colorset" value="c" />
								<img src="scanner-palette-color.png" alt="color" title="Colorset colured" />
								<i>Color</i>
							</span><br />
							<span class="palette">
								<input type="radio" id="colorset-grayscale" name="colorset" value="g" />
								<img src="scanner-palette-grayscale.png" alt="color" title="Colorset grayscale" />
								<i>Grayscale</i>
							</span><br />
							<span class="palette">
								<input type="radio" id="colorset-bw" name="colorset" value="b" />
								<img src="scanner-palette-bw.png" alt="bw" title="Colorset black & white" />
								<i>Black & White</i>
							</span>
						</span>
						<i class="description-mini">Choose scanned image color set</i>
					</div>
					<div class="widget">
						<span class="label"><label for="adf">Multiple pages</label></span>
						<span class="input">
							<input type="checkbox" id="adf" name="adf" value="1" />
							<i class="description-mini">(ADF) Automatic document Feeder</i>
						</span>
					</div>
					<div class="widget">
						<span class="label"><label for="page-duplex">Page front/back</label></span>
						<span class="input">
							<input type="checkbox" id="page-duplex" name="page-duplex" value="1" />
							<i class="description-mini">Page duplex</i>
						</span>
					</div>
					<div class="widget">
						<span class="label"><label for="gui">TWAIN gui</label></span>
						<span class="input">
							<input type="checkbox" id="gui" name="gui" value="1" />
							<i class="description-mini">Show TWAIN interface</i>
						</span>
					</div>
					
					<div class="buttons">
						<input id="scan-start" name="scan-start" type="submit" value="SCAN" />
					</div>
				</form>
			</fieldset>
		</div>
		<div class="box-right">
			<div class="working-area">
				<h3>Document preview</h3>
				
				<div class="content">
					<div id="page-preview">
						<div id="preview-orientation" class="landscape">
							<div class="shadow">
								<!--img src="/Images/null.gif" title="Document preview" /-->
								<img src="null.gif" title="Page preview" />
							</div>
						</div>
					</div>
					<div id="document-thumbnails">
						<h4 class="hidden">Pages thumbnails</h4>
						<ol class="thumbox">
							<!-- Sample
							<li class="thumb">
								<a class="selected" href="../Data/Scanner/Page1.jpg">
									<img src="/Data/Scanner/Page1.jpg?height=80&width=80" title="Thumb" />
								</a>
								<i>Page 1</i>
							</li>
							
							<li class="thumb">
								<a href="../Data/Scanner/Page2.jpg">
									<img src="/Data/Scanner/Page1.jpg?height=80&width=80" title="Thumb" />
								</a>
								<i>Page 1</i>
							</li>
							-->
						</ol>
					</div>
					<div class="clearer">&nbsp;</div>
				</div>
			</div>
			
			<div class="working-area">
				<h3>Download</h3>
				
				<div class="content">
					<div id="document-download">
						<ul class="formats">
							<!-- Sample
							<li class="tiff">
								<a href="../Data/Scanner/document-8e84e398-2546-4808-87ac-e866c35b3658.tiff?download=1">
									<b>Download</b>
								</a>
								<i>Save scanned document in Tiff/Multipaged format</i>
							</li>
							-->
						</ul>
					</div>
					<div class="clearer">&nbsp;</div>
				</div>
			</div>
			
			
		</div>
		<script type="text/javascript" src="scanner.js"></script>
	</div>

