﻿	<div id="main-menu">
		<ul>
			<li><a id="configure-item" class="selected" href="../Configure/index.html">Configure</a></li>
			<li><a id="scanner-item" href="../Scanner/index.html">Scanner</a></li>
		</ul>
	</div>
	<div class="main-container">
		<div id="configuration">
			<fieldset>
				<legend class="form-title">Configure</legend>
				<div class="form-title">
					<span class="icon"><span class="text">Configure</span></span>
				</div>
				<form action="save.do" id="formConfigure" name="formConfigure" method="GET" >
					<div class="widget">
						<span class="label"><label for="port">Port</label></span>
						<span class="input"><input size="6" maxlength="4" type="text" id="port" name="port" value="" /></span>
						<i class="description-mini">Web service port listen (es:http://localhost:8080)</i>
					</div>
					<div class="widget">
						<span class="label"><label for="username">Username</label></span>
						<span class="input"><input size="20" maxlength="20" type="text" id="username" name="username" value="" /></span>
						<i class="description-mini">Username to protect config page</i>
					</div>
					<div class="widget">
						<span class="label"><label for="password">Password</label></span>
						<span class="input"><input size="20" maxlength="20" type="password" id="password" name="password" value="" /></span>
						<i class="description-mini">Password to protect config page</i>
					</div>
					<div class="widget">
						<span class="label"><label for="password-re">Re Password</label></span>
						<span class="input"><input size="20" maxlength="20" type="password" id="password-re" name="password-re" value="" /></span>
						<i class="description-mini">Retype to prevent errors</i>
					</div>
					<div class="buttons">
						<input type="submit" value="SAVE" />
					</div>
				</form>
			</fieldset>
		</div>
		<script type="text/javascript" src="configure.js"></script>
	</div>

